$primary: #1EB980;
$secondary:#FD5523;
$success:#045D56;
$info:#2196F3;
$warning:#FB8C00;
$danger:#B00020;
$light:#ffffff;
$dark:#27272f;

// Include Bootstrap SCSS files
@import '~bootstrap/scss/bootstrap.scss';
